docker {
    enabled = true
}

process {
    executor='local'
    scratch=false
    maxRetries=1
    errorStrategy='retry'

    withName: 'getSRAIDs' {
        container = 'pegi3s/entrez-direct'
    }

    withName: 'fastqDump' {
        container = 'clarpalmtree/sra'
        cpus=8
    }
    
    withName: 'getGenome' {
        cpus=2
    }

    withName: 'index' {
        container = 'clarpalmtree/starbis:latest'
        cpus=16
    }
    
    withName: 'mapping' {
        container = 'clarpalmtree/starbis:latest'
        cpus=16
    }
    
    withName: 'mapping_bai' {
        container = 'clarpalmtree/samtools:v1.9'
        cpus=16
    }
    
    withName: 'featureCounts' {
        container = 'docker pull yanismadi/subread:latest'
        cpus=16
    }

}
