docker {
    enabled = true
}

process {
    executor='local'
    scratch=false
    maxRetries=1
    errorStrategy='retry'

    withName: 'getSRAIDs' {
        container = 'pegi3s/entrez-direct'
        cpus=6
        memory=8.GB
    }

    withName: 'fastqDump' {
        container = 'clarpalmtree/sra'
    }

    withName: 'chromosome' {
        cpus=6
        memory=30.GB
    }

    withName: 'getAnnot' {
        cpus=1
    }

    withName: 'index' {
        container = 'clarpalmtree/starbis:latest'
        cpus=6
        memory=30.GB
    }
    
    withName: 'mapping' {
        container = 'clarpalmtree/starbis:latest'
        cpus=6
        memory=30.GB
    }

}
